.navbar{
    background-color: black;
}

.nav-link{
    margin: 10px;
    margin-right: 15px;
    font-size: 20px;
}

.title{
    text-decoration: underline;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#contentbox{
    background-color: #0A1D37;
    padding: 15vh;
    padding-bottom: 15vh;
    padding-top: 10vh;
}

#maincontentbox{
    background-color: #000000;
    border: 2px #ECECEC solid;
    padding: 7.5vh;
    box-shadow: 4px 4px 8px #ECECEC;
    border-radius: 10vh;
}

#contentbox h3{
    color: #E6AF2E;
    font-size: 7.5vh;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1vh;
}

#contentbox h2{
    color: #E6AF2E;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 1vh;
}

#contentbox h1{
    color: #E6AF2E;
    text-shadow: 4px 4px 8px #F5D061;
    font-size: 15vh;
    font-weight: bold;
    margin: 1vh;
}

#maintext{
    color: #E6AF2E;
    font-size: 4vh;
    
}

#abt{
    background-color: #ECECEC;
    text-align: center;
    padding: 20vh;
    padding-top: 5vh;
    padding-left: 10vh; 
}

#img{
    border-radius: 50%;
    width: 45vh;
    height: 45vh;
    vertical-align: middle;
}

#abtme_content{
    font-size: 3.5vh;
    text-align: left;
    margin: 4vh;
}

#work_box{
    text-align: center;
    background-color: #F5D061;
    padding: 5vh;
}

.work_con{
    border:1px black solid;
    border-radius: 5vh;
    box-shadow: 2px 4px 4px black;
}

.work_info{
    font-size: 3.5vh;
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
}

#rd_more{
    width: 25%;
    background-color: #0A1D37;
    border: none;
    box-shadow: 4px 4px 8px black;
    margin-bottom: 3.5vh;
}

.work_head{
    margin-top: 5vh;
}

#achieve_box{
    text-align: center;
    list-style-position: inside;
    background-color: #ECECEC;
    padding: 7.5vh;
}

#achieve_list{
    font-size: 4vh;
    margin-top: 7.5vh;
    padding: 4vh;
}

#contact{
    background-color: #F5D061;
    padding: 50px;
}

#con_content{
    text-align: center;
}

.fa{
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 50%;
    text-align: center;
    padding: 2vh;
    font-size: 30px;
    margin: 5px;
    box-shadow: 4px 4px 8px black;
    text-decoration: none;
}

.fa:hover{
    color: white;
    opacity: 0.7;
}

.fa-github{
    background-color: black;
    color: white;
}

.fa-twitter{
    background-color: #55ACEE;
    color: white;
}

.fa-linkedin{
    background-color: #007bb5;
    color: white;
}

.fa-instagram{
    background-color: #f40083;
    color: white;
}

.in_line{
    display: inline;
}

.to_left{
    float: left;
    margin: 15px;
}

#footer{
    background-color: black;
    text-align: center;
    color: white;
}

@media(min-width:1024px){
    .workbox{
        display: flex;
        justify-content: space-between;
    }

    .work_con{
        flex-basis: 33%;
        border:1px black solid;
        border-radius: 25px;
        box-shadow: 2px 4px 4px black;
    }

    .brdr{
        border-right: 1px black solid;
    }
}

@media(min-width:768px){
    .abt_out{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .main_contents, .abt_con{
        flex-basis: 50%;
    }
}

@media(max-width:697px){
    #contentbox h1{
        font-size: 12.5vh; 
    }
    #contentbox h2{
        font-size: 3vh; 
    }
    #contentbox h3{
        font-size: 7.5vh; 
    }
    #maintext{
        font-size: 3.5vh;
    }
}

@media(max-width:612px){
    #contentbox h1{
        font-size: 10vh; 
    }
    #contentbox h2{
        font-size: 3vh; 
    }
    #contentbox h3{
        font-size: 6vh; 
    }
    #maintext{
        font-size: 3vh;
    }
}

@media(max-width:537px){
    #contentbox h1{
        font-size: 8vh; 
    }
    #contentbox h2{
        font-size: 3vh; 
    }
    #contentbox h3{
        font-size: 5vh; 
    }
    #maintext{
        font-size: 3vh;
    }
}

@media(max-width:472px){
    #contentbox h1{
        font-size: 7.5vh; 
    }
    #contentbox h2{
        font-size: 3vh; 
    }
    #contentbox h3{
        font-size: 5.5vh; 
    }
    #maintext{
        font-size: 3vh;
    }
}

@media(max-width:324px){
    body{
        width: fit-content;
    }
}
